@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.header-container{
    display: flex;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.menu{
    display: flex;
    flex: 1;
}

.logo{
    padding-right: 60px;
}

a, ul, li{
    text-decoration: none;
    list-style-type: none;
}

a{
    padding-right: 20px;
}

.avatar{
    max-width: 40px;
}

.right-icons{
    display: flex;
    align-items: center;
}

.cart{
    padding-right: 50px;
}

.container{
    padding: 90px 190px 90px 190px;
    display: flex;
}

.big-img img{
    max-width: 450px;
    border-radius: 7px;
}

.small-img img{
    max-width: 100px;
    border-radius: 7px;
    margin-top: 9px;
    margin-right: 9px;
    
}

.left-side{
    margin-right: 100px;
}